In [ ]:
import pandas as pd
import glob

files = glob.glob('../data/original_excels/*.xlsx')

dfs = []
for file in files:
    df = pd.read_excel(file, skiprows=6)
    df['Källa_fil'] = file  
    dfs.append(df)

all_data = pd.concat(dfs, ignore_index=True)

In [5]:
all_data.to_csv('../data/raw_collision_data.csv', index=False)

In [8]:
print(all_data.columns.tolist())

['DjurId', 'OlycksId', 'Källa', 'Typ av olycka', 'Datum', 'Tid', 'År', 'Månad', 'Dag på året', 'Unnamed: 9', 'Unnamed: 10', 'Veckodag', 'Län', 'Unnamed: 13', 'Kommun', 'Viltslag', 'Lat WGS84', 'Long WGS84', 'Lat RT90', 'Long RT90', 'Kön', 'Årsunge', 'Vad har skett med viltet', 'Källa_fil']

In [10]:
all_data.columns = (
    all_data.columns
    .str.strip()
    .str.replace(" ", "_")
    .str.replace("å", "a")
    .str.replace("ä", "a")
    .str.replace("ö", "o")
)

In [11]:
all_data.info()
all_data['Viltslag'].value_counts()
all_data['Datum'] = pd.to_datetime(all_data['Datum'], errors='coerce')
all_data['Månad'] = all_data['Datum'].dt.month
all_data['Veckodag'] = all_data['Datum'].dt.day_name()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 635851 entries, 0 to 635850
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   DjurId                    242322 non-null  float64
 1   OlycksId                  242322 non-null  float64
 2   Kalla                     635851 non-null  object
 3   Typ_av_olycka             635851 non-null  object
 4   Datum                     635851 non-null  datetime64[ns]
 5   Tid                       635851 non-null  datetime64[ns]
 6   År                        635851 non-null  int64
 7   Manad                     635851 non-null  int32
 8   Dag_pa_aret               635851 non-null  int64
 9   Unnamed:_9                0 non-null       float64
 10  Unnamed:_10               0 non-null       float64
 11  Veckodag                  635851 non-null  object
 12  Lan                       635851 non-null  object
 13  Unnamed:_13               0 non-null       float64
 14  Kommun                    635851 non-null  object
 15  Viltslag                  635851 non-null  object
 16  Lat_WGS84                 635851 non-null  float64
 17  Long_WGS84                635851 non-null  float64
 18  Lat_RT90                  635851 non-null  float64
 19  Long_RT90                 635851 non-null  float64
 20  Kon                       635851 non-null  object
 21  Årsunge                   635851 non-null  object
 22  Vad_har_skett_med_viltet  635851 non-null  object
 23  Kalla_fil                 635851 non-null  object
dtypes: datetime64[ns](2), float64(9), int32(1), int64(2), object(10)
memory usage: 114.0+ MB

In [18]:
cols_to_drop = ['Unnamed:_9', 'Unnamed:_10', 'Unnamed:_13', 'Kalla_fil']

for col in cols_to_drop:
    if col in all_data.columns:
        all_data = all_data.drop(columns=[col])

In [19]:
print(all_data.columns.tolist())

['DjurId', 'OlycksId', 'Kalla', 'Typ_av_olycka', 'Datum', 'Tid', 'År', 'Manad', 'Dag_pa_aret', 'Veckodag', 'Lan', 'Kommun', 'Viltslag', 'Lat_WGS84', 'Long_WGS84', 'Lat_RT90', 'Long_RT90', 'Kon', 'Årsunge', 'Vad_har_skett_med_viltet', 'Månad']